* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*Used w3schools responsive grid view: https://www.w3schools.com/css/css_rwd_grid.asp */
/* for desktop*/
@media only screen and (min-width: 955px){
  .col-1 {width: 8.33% !important;}
  .col-2 {width: 16.66% !important;}
  .col-3 {width: 25% !important;}
  .col-4 {width: 33.33% !important;}
  .col-5 {width: 41.66% !important;}
  .col-6 {width: 50% !important;}
  .col-7 {width: 58.33% !important;}
  .col-8 {width: 66.66% !important;}
  .col-9 {width: 75% !important;}
  .col-10 {width: 83.33% !important;}
  .col-11 {width: 91.66% !important;}
  .col-12 {width: 100% !important;}
  
  /*nav desktop*/
  #logo{
    float: left;
    width: 100% !important;
    height: auto !important;
    max-width: 218px !important;
  }
  
  #logo-col{
    height: 100px;
    padding-right: 0;
  }
  /*end nav desctop*/
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*clears the flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*for mobile*/
[class*="col-"] {
  width: 100%;
}

/*container*/
/*mobile*/
.container {
  width: 100%;
  margin: auto;
}

@media (min-width: 785px) {
  .container {
    margin: auto;
    width: 740px;
  }
}

@media (min-width: 955px) {
  .container {
    margin: auto;
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: auto;
    width: 1175px;
  }
}

/*navbar*/
@media (max-width: 550px){
  #logo{
    max-height:  65px !important;
    max-width: 228px !important;
  }  
  #langChangeMob a{
    margin: 0.5em 0!important;
  }
  #currentPage a {
    background-color: white !important;
    color: black!important;
    border-radius: 10px !important;
  }
  
  #navbar a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
  }
  #navbar hr{
    visibility: hidden !important;
  }
}

#logo {
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 350px;
}

#logo-col {
  text-align: left;
  background-color: #1f1d1e;
}

#entireNav a{
  color: white;
}

#navbar {
  background-color: #1f1d1e;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

#navbar li {
  float: left;
  width: 33%;
  text-align: center;
  display: inline-block;
}

#navbar li a {
  display: block;
  padding:  0;
  margin: 17px 4px;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 0;
}

#currentPage hr{
  -webkit-transition-property: none !important;
  transition-property: none !important; 
  width: 8.5em !important;
}

#navbar li:hover hr{
  width: 8em;
}

#navbar hr {
  border: 0;
  height:  0.175em;
  background-image: linear-gradient(to left, #1f1d1e, white, #1f1d1e);
  width: 0em;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}


#entireNav{
  height: auto;
  box-shadow: 0px 8px 10px rgb(150, 150, 150);
  position: relative;
  background-color: #1f1d1e;
}

/*Change language using mobile*/
@media (max-width: 954px){
  #langChange{
   display: none !important; /*hides desktop "change language"*/
  }
  #langChangeMob a{
    display: block;
    margin: 1.2em 0;
    text-decoration: none;
    padding: 0 0.3em;
    text-align: center;
  }
  #langChangeMob{
    float: right;
    margin: 0;
    display: block !important;
    padding: 0;
  }
}

#langChangeMob { /*hides mobile "change language"*/
  display: none;
}

.currentLang{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #1f1d1e !important;
}

#langChangeMob a:hover{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #1f1d1e !important;
}

#langChangeDiv{
  padding: 0;
}

#langChange {
  float: right;
  margin: 0;
  display: block;
  padding: 0;
  margin-right: 1em;
}

#langChange a{
  display: block;
  margin: 1.2em 0;
  text-decoration: none;
  padding: 0 0.3em;
  text-align: center;
}

#langChange a:hover{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #1f1d1e !important;
}


/*end navbar*/

.text_container {
  background-color: white;
  padding: 20px 5px;
  margin: 0;
  font-family: Arial, sans-serif;
}

#text1, #text2 {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  margin-bottom: 25px;
  border: 3px solid #4e5f6e;
  box-shadow: 0 5px 5px rgb(150, 150, 150);
}

.takeToTop a{
  float: right;
  margin: 0;
  font-weight: 600;
  color: #1969ff;
}