@font-face {
  font-family: "Noto Sans";
  src: url("../font/Noto_Sans/NotoSans-Regular.ttf");
  /*font downloaded from google font https://fonts.google.com/specimen/Noto+Sans*/
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-Regular.ttf");
  /*font downloaded from google font https://fonts.google.com/specimen/Montserrat*/
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #DADFF7;
}

/*Used w3schools responsive grid view: https://www.w3schools.com/css/css_rwd_grid.asp */
/* for desktop*/
@media only screen and (min-width: 955px){
  .col-1 {width: 8.33% !important;}
  .col-2 {width: 16.66% !important;}
  .col-3 {width: 25% !important;}
  .col-4 {width: 33.33% !important;}
  .col-5 {width: 41.66% !important;}
  .col-6 {width: 50% !important;}
  .col-7 {width: 58.33% !important;}
  .col-8 {width: 66.66% !important;}
  .col-9 {width: 75% !important;}
  .col-10 {width: 83.33% !important;}
  .col-11 {width: 91.66% !important;}
  .col-12 {width: 100% !important;}
  
  /*nav desktop*/
  #logo{
    float: left;
    width: 100% !important;
    height: auto !important;
    max-width: 218px !important;
  }
  
  #logo-col{
    height: 100px;
    padding-right: 0;
  }
  /*end nav desctop*/
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*clears the flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*for mobile*/
[class*="col-"] {
  width: 100%;
}

/*container*/
/*mobile*/
.container {
  width: 100%;
  margin: auto;
}

@media (min-width: 785px) {
  .container {
    margin: auto;
    width: 740px;
  }
}

@media (min-width: 955px) {
  .container {
    margin: auto;
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: auto;
    width: 1175px;
  }
}

/*frontpage*/
@media (max-width: 550px){
  #frontPage a{
    font-size: 0.95em !important;
  }
}

#frontPage {
  background-color: #1f1d1e
}

#frontLang ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#frontLang li {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 1em 10%;
}

#frontLang li a {
  color: white;
  display: inline-block;
  padding:  0;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 0;
  text-transform: uppercase;
}

/*frontlang a::after, see #navbar a::after*/

#frontPage img{
  padding: 4em 0;
  width: 100%;
  height: auto;
  max-width: 55em;
}

#frontPage .img{
  text-align: center;
}
/*end frontpage*/

/*navbar*/
#currentPage a::after{
  -webkit-transition-property: none !important;
  transition-property: none !important; 
  width: 100% !important;
  margin-left: 0 !important;
}

@media (max-width: 550px){
  #logo{
    max-height:  50px !important;
    max-width: 175px !important;
  }  
 
  #langChangeMob a{  /*langChange mob*/
    margin: 0.5em 0!important;
    font-size: 0.8em;
  }
  
  #currentPage a {
    background-color: white;
    color: black !important;
    border-radius: 10px !important;
  }
  
  #currentPage a::after{
    width: 0 !important;
  }
  
  #navbar a{
    font-size: 0.95em !important;
    padding: 0.2em !important;
  }
  
  #navbar a::after{
    width: 0 !important;
  }
  
  #navbar a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
  }
}

@media (max-width: 350px){
   #navbar li {
    margin: 0 !important;
  }
}

#logo {
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 350px;
}

#logo-col {
  text-align: left;
}

#entireNav a{
  color: white;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

/*#navbar ul div {
  text-align: center;
	width: 33.33%;
	float: left;
}*/

#navbar li {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 0 5%;
  
}

#navbar li a {
  display: inline-block;
  margin: 0.8em 0;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 0;
}

#navbar a::after, #frontLang a::after{
  content: '';
  display: block;
  height: 3px;
  width: 0%;  
  background-image: -webkit-gradient(linear, right top, left top, from(#1f1d1e), color-stop(white), to(#1f1d1e));  
  background-image: linear-gradient(to left, #1f1d1e, white, #1f1d1e);
  position: absolute;
  bottom: 0;
  margin-left: 50%;
  -webkit-transition: width 500ms, margin-left 500ms;
  -moz-transition: width 500ms, margin-left 500ms;
  -ms-transition: width 500ms, margin-left 500ms;
  transition: width 500ms, margin-left 500ms;
}

#navbar a:hover::after, #frontLang a:hover::after{
  width: 100%;
  margin-left: 0;
}

#entireNav{
  height: auto;
  -webkit-box-shadow: 0px 8px 10px rgb(150, 150, 150);
  box-shadow: 0px 8px 10px rgb(150, 150, 150);
  position: relative;
  background-color: #1f1d1e;
}

/*Change language using mobile*/
@media (max-width: 954px){
  #langChange{
   display: none !important; /*hides desktop "change language"*/
  }
  #langChangeMob li {
  list-style-type: none;
}
  #langChangeMob a{
    display: block;
    margin: 1.2em 0;
    text-decoration: none;
    padding: 0.1em 0.3em;
    text-align: center;
  }
  #langChangeMob{
    float: right;
    margin: 0;
    display: block !important;
    padding: 0;
  }
}

#langChangeMob { /*hides mobile "change language"*/
  display: none;
}

.currentLang{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #1f1d1e !important;
}

#langChangeMob a:hover{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #1f1d1e !important;
}

#langChangeDiv{
  padding: 0;
}

#langChange {
  width: 5em;
  text-align: center;
  margin: 0 30%;
  display: block;
  padding: 0;
  margin-right: 1em;  
}

#langChange li {
  list-style-type: none;
}

#langChange li a{
  display: block;
  margin: 1.2em 0;
  text-decoration: none;
  padding: 0 0.4em;
  text-align: center;
}

#langChange a:hover{
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: #1f1d1e !important;
}
/*end navbar*/

.text_container {
  background-color: #DADFF7;
  padding: 20px 5px;
  margin: 0;
  font-family: 'Noto sans', sans-serif;
}

.text {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  margin-bottom: 25px;
  border: 3px solid #4e5f6e;
  -webkit-box-shadow: 0 5px 5px rgb(150, 150, 150);
  box-shadow: 0 5px 5px rgb(150, 150, 150);
}

.text img{
  border: 3px solid #4e5f6e;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.chart{
  max-width: 40em;
  margin: auto;
}

.takeToTop a{
  float: right;
  margin: 0;
  font-weight: 600;
  color: #1969ff;
}