body {
    background-color: white;
    box-sizing: border-box;
}

.logo {
    border: 1em;
    padding-bottom: 20em;
    background-image: url('JobString.png');
    background-repeat: no-repeat;
    position: relative;
    margin-top: 5em;
    margin-left: 30em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #415ff4;
    position: relative;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2em 14em;
    text-decoration: none;
}

li a:hover:not(.fargelegg) {
    background-color: #41f4e5;
}

.fargelegg {
    background-color: #41f4e5;
    color: white;
}

.problem {
    border: 1em solid blue;
    padding: 10em;
    background-color: aqua;
}
